# upgrade debian
sudo apt update
sudo apt upgrade -y

# install dependencies
sudo apt install python3-pip -y
# isntall falsk for web server
pip install flask 

# create a new directory for project
mkdir ~/object_detection
cd ~/object_detection

# install virtual env
sudo pip3 install virtualenv 
virtualenv objdet
source objdet/bin/activate

# install git 
sudo apt-get install git -y

# download code from tensrflow lite rep
git clone https://github.com/tensorflow/examples --depth 1
cd examples/lite/examples/image_classification/raspberry_pi

# The script takes an argument specifying where you want to save the model files
bash download.sh /tmp


# in case numpy load gives error run this :
# sudo apt-get install python-dev libatlas-base-dev
